#root {
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #A24936;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.search-container{
  border: solid 1px #3E5641;
  border-radius: 8px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.search-image-left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.2em;
  background-color: #282B28;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.search-field{
  width: 100%;
  border-style: none;
  padding-left: 8px;
  background-color: #282B28;
}
.search-field:focus{
  outline: none;
}
.search-container:focus-within{
  border: 1px solid #83BCA9;
}
.search-icon, .image-icon{
  color:#83BCA9;
}

.gallery{
display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
figure{
  width: auto;
  margin: 0;
}
.item {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
footer{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-btn{
  border-radius: 8px;
}
.more-icon{
  color:#A24936;
}

.svg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.image-default{
  height: 100%;
  fill: white;
}
.svg-text{
  padding-top: 50px;
  font-size: 35px;
  color: #83BCA9;
  font-family: 'Lobster Two', cursive;
}
.loader{
  position: fixed;
  top: 47%;
  right: 47%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 400px);
  max-height: calc(100vh - 200px);
}
.modal-content {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}